// $variable_name: value
$med_blue: #40d8d7;
$med_dark_blue: #0029f5;
$orange_color: #f3aa20;
$dark_orange: #de5d23;
$light_gray: #fbf7eb;
$black_color: #000000;
$white_color: #ffffff;
$dark_gray: #a8a8a8;
